# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Enviroment
.env

# Distribution / packaging
.idea/
.Python
develop-eggs/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# Flask stuff:
instance/
.webassets-cache

.DS_Store

.idea
