{% extends 'base.html' %}

{% block title%}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <a href="{{ url_for('uploaded_file', name=post.picture_file) }}" class="effect-lily tm-post-link">
            <div class="tm-post-link-inner">
                <img height="600px" src="{{ url_for('static', filename='post_pics/'+post.picture_file) }}"/>
            </div>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
        </a>
        <span class="tm-color-primary">{{ post.created.strftime('%Y-%m-%d') }} posted by {{ post.author.username }}</span>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                {% if post.author == current_user %}
                    <a class="btn tm-btn-primary-sm btn-sm" href="{{ url_for('posts.update_post', post_id=post_id) }}">Update</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn tm-btn-primary-sm-danger btn-sm" colour="#f5a4c4" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      Delete
                    </button>
                {% endif %}
                <p style="white-space:pre-wrap tm-colour-primary" >{{ post.text|safe}}</p>
                <span class="d-block text-right tm-color-primary">
                    {% for tag in post.tags %}
                        <a href="{{ url_for('search_by_tag', tagname=tag.tag_name) }}" class="tm-color-link">{{ tag }}</a>
                    {% endfor %}
                </span>
            </div>
            <!-- Comments -->
            <div>
                <h2 class="tm-color-primary tm-post-title">Comments</h2>
                <hr class="tm-hr-primary tm-mb-45">
                {% if comments %}
                {% for comment in comments %}
                <div class="tm-comment tm-mb-45">
                    <figure class="tm-comment-figure tm-color-primary text-center">
                            {{ comment.author.username }}<br>
                    </figure>
                    <div>
                        <span class="tm-colour-primary">{{ comment.text }}
                        {% if comment.author == current_user %}
                            <a class="btn tm-btn-primary-sm-new btn-sm" href="{{ url_for('posts.update_comment', comment_id=comment.comment_id) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn tm-btn-primary-sm-new btn-sm" href="{{ url_for('posts.delete_comment', comment_id=comment.comment_id) }}">
                                <i class="fas fa-trash"></i>
                            </a>
                            {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif%}
                <form action="" method="post" novalidate enctype="multipart/form-data">
                    {{ form.csrf_token() }}
                    <div class="form-group tm-color-gray">
                        {{ form.text.placeholder }}
                        {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                            <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.text(class="form-control form-control-lg") }}</br>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="tm-btn tm-btn-primary tm-btn-small") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are your sure you want to delete Post?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Post will be deleted immediately. You can't undo this action.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.post_id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">
                <li><a href="#" class="tm-color-primary">Travel</a></li>
                <li><a href="#" class="tm-color-primary">Italy</a></li>
            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
            {% for post in posts %}
            <figure href="{{ url_for('static', filename='post_pics/'+post.picture_file) }}" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    <p><img src="{{ url_for('static', filename='post_pics/'+post.picture_file) }}"/></p>
                    <a href="{{ post.post_id }}" class="tm-color-primary tm-post-link-title">{{ post.title }}</a>
                </div>
            </figure>
            <figure>
                <p class="tm-post-col">{{ post.intro }}</p>
            </figure>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock %}