{% extends 'base.html' %}

{% block title %}
Login
{% endblock %} | Travel blog

{% block content %}
    <h1 class="pt-2 tm-color-primary tm-post-title">Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors  %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        <div class="text-right">
        <button href="#" class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
        </div>
        <p>New User? <a href="{{ url_for('register') }}" class="tm-color-primary">Click to Register!</a></p>
    </form>

{% endblock %}