{% extends 'base.html' %}

{% block title%}
    {{ title }}
{% endblock %}

{% block content %}
<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <a href="{{ url_for('uploaded_file', filename=post.img_name) }}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
                <img src="{{ url_for('static', filename='post_pics/'+post.picture_file) }}"/>
            </div>
            <span class="position-absolute tm-new-badge">New</span>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
        </a>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <p class="tm-mb-40">{{ post.created.strftime('%Y-%m-%d') }} posted by {{ post.author.username }}</p>
                {% if post.author == current_user %}
                    <a class="btn tm-btn-primary-sm btn-sm" href="{{ url_for('update_post', post_id=post_id) }}">Update</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                      Delete
                    </button>
                {% endif %}
                <p> {{ post.intro }}</p>
                <p> {{ post.text }}</p>
                <span class="d-block text-right tm-color-primary">Creative . Design . Business</span>
            </div>
            <!-- Comments -->
            <h2 class="tm-color-primary tm-post-title">Comments</h2>
            {% for comment in comments %}
            <p><img class="rounded-circle" src="{{ url_for('static', filename=comment.user_id.picture_path) }}" width="100" height="100" class="leftimg"/>
                <p class="tm-color-primary">{{ comment.author.user_id }}</p>
                <p class="tm-color-gray"> {{ comment.text }}</p>
                <p class="tm-color-gray"> {{ comment.created.strftime('%Y-%m-%d') }}</p>
            {% endfor %}
            <form action="" method="post" novalidate enctype="multipart/form-data">
                {{ form.csrf_token() }}
             <div class="form-group tm-color-gray">
                {{ form.text.label }}
                {% if form.text.errors %}
                     {{ form.text(class="form-control form-control-lg is-invalid") }}
                     <div class="invalid-feedback">
                        {% for error in form.text.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.text(class="form-control form-control-lg") }}</br>
                {% endif %}
            </div>
             <div class="form-group">
                {{ form.submit(class="tm-btn tm-btn-primary tm-btn-small") }}
             </div>
            </form>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are your sure you want to delete Post?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Post will be deleted immediately. You can't undo this action.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.post_id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
<aside class="col-lg-4 tm-aside-col">
    <div class="tm-post-sidebar">
        <hr class="mb-3 tm-hr-primary">
        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
        <ul class="tm-mb-75 pl-5 tm-category-list">
            <li><a href="#" class="tm-color-primary">Travel</a></li>
            <li><a href="#" class="tm-color-primary">Italy</a></li>
        </ul><!---->
        <hr class="mb-3 tm-hr-primary">
        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
        {% for post in posts %}
        <figure href="{{ url_for('static', filename='post_pics/'+post.picture_file) }}" class="effect-lily tm-post-link tm-pt-60">
            <div class="tm-post-link-inner">
            <p><img src="{{ url_for('static', filename='post_pics/'+post.picture_file) }}"/></p>
            <a href="{{ post.post_id }}" class="tm-color-primary">{{ post.title }}</a>
            </div>
        </figure>
        <figure>
            <p class="tm-post-col">{{ post.intro }}</p>
        </figure>
        {% endfor %}
    </div>
</aside>
</div>
{% endblock %}